.App {
  height: 100%;
  position: absolute;
}

::-webkit-scrollbar {display:none;}

.App main {
  overflow-x: hidden;
}

.App img {
  max-width: 100%;
}

.App h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2rem;
}

.App section {
  display: flex;
  flex-direction: column;
}

.App p {
  font-size: 1rem;
  margin: 0;
  text-align: center;
  width: 80%;
  font-family: 'Roboto', sans-serif;
}

.hero {
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .App h2 {
    font-size: 3rem;
  }

  .App p {
    font-size: 2rem;
    text-align: left;

  }
  
}

@media (min-width: 1024px) {
  .App h2 {
    font-size: 4rem;
  }

  .App p {
    font-size: 2rem;
  }
  
}

