.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container label,
.container textarea,
.input {
    font-family: 'Roboto', sans-serif;
}

.input,
.container textarea {
    border: none;
    background: white;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 5%;
}

.input:focus,
.container textarea:focus {
    border: 3px solid black;
    outline: none;

}

.button {
    background-color: transparent;
    border: 1px solid black;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border-radius: 5%;
    text-decoration: none;
    color: black;
    background: linear-gradient(to left, transparent 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
    text-align: center;
}

.button:hover {
    background-position: top left;
    transition: all 1s ease;
    color: white;
}

@media (min-width: 768px) {
    .container {
        width: 70%;
    }

    .input,
    .container textarea,
    .container label {
        font-size: 1.5rem;
    }
}


@media (min-width: 1024px) {
    .container {
        width: 100%;
    }

    .input,
    .container textarea,
    .container label {
        font-size: 1.5rem;
        width: 100%;
    }

}