.container {
    background-color: rgb(96,206,173);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
    

}

.container p {
    font-size: 1.2rem;
    font-family: 'Roboto', cursive;
}

.location {
    position: relative;
}

.location p {
    width: 100% !important;
    text-align: center;
}

.location span{
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', cursive;
}

.location img {
    z-index: -1;
}

.location .bottom {
    bottom: 5%;
    left: 0;
    transform: rotate(-9deg);
    font-family: 'Architects Daughter', cursive;
}

.languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flags img {
    width: 25%;
}

@media (min-width: 768px) {
    .container p {
        text-align: center !important;
    }

    .location .bottom {
        bottom: 5%;
        font-size: 2.5rem;
    }
    
    .flags {
        justify-content: space-evenly;
    }

    .flags img {
        width: 15%;
    }
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-flow: row wrap;
    }

    .container h2 {
        order: 1;
        width: 50%;
        text-align: center;
    }

    .container p,
    .location {
        order: 3;
        width: 50%;
    }

    .location p {
        top: 10%;
        position: absolute;
        z-index: 2;
        width: 80%;
    }


    .languages {
        order: 2;
        align-self: flex-end;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .languages p {
        order: 1;
    }
     .flags {
        order: 2;
     }

    .form {
        order: 4;
        width: 40%;
    }
}
